<h1 id="title" class="title">{{'LOGIN'|translate}}</h1>
<p class="sub-title">{{'LOGIN_WITH_YOUR_USERNAME'|translate}}</p>

<form (ngSubmit)="Register()" #form="ngForm">
  <div class="d-flex">
    <div class="col-md-6 col-12">
      <div class="d-flex  pb-4">
        <div class="col-md-4 align-self-center text-center">
          <label>{{'STORE_NAME'|translate}}</label>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" placeholder="{{'STORE_NAME'|translate}}" class="align-self-center form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="d-flex  pb-4">
        <div class="col-md-4 align-self-center text-center">
          <label>{{'‎COMMERCIAL_REGISTER'|translate}}</label>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" placeholder="{{'COMMERCIAL_REGISTER'|translate}}"
              class="align-self-center form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-md-6 col-12">
      <div class="d-flex pb-4">
        <div class="col-md-4 align-self-center text-center">
          <label>{{'USER_NAME'|translate}}</label>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" placeholder="{{'USER_NAME'|translate}}" class="form-control" />
          </div>
        </div>
      </div>

      <div class="d-flex  pb-4">
        <div class="col-md-4 align-self-center text-center">
          <label>{{'PASSWORD'|translate}}</label>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="password" placeholder="{{'PASSWORD'|translate}}" class="form-control" />
          </div>
        </div>
      </div>

      <div class="d-flex  pb-4">
        <div class="col-md-4 align-self-center text-center">
          <label>{{'MOBILE'|translate}}</label>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" placeholder="{{'MOBILE'|translate}}" class="align-self-center form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="d-flex  pb-4">
        <div class="col-md-4 align-self-center text-center">
          <label>{{'EMAIL'|translate}}</label>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="email" placeholder="{{'EMAIL'|translate}}" class="align-self-center form-control" />
          </div>
        </div>
      </div>

      <div class="d-flex  pb-4">
        <div class="col-md-4 align-self-center text-center">
          <label>{{'CONFIRM_PASSWORD'|translate}}</label>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="password" placeholder="{{'CONFIRM_PASSWORD'|translate}}"
              class="align-self-center form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center pt-4">
    <div class="col-md-3">
      <button nbButton fullWidth status="success" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
        {{'REGISTER'|translate}}
      </button>
    </div>
  </div>
</form>