:host /deep/ ng2-st-tbody-edit-delete {display: flex !important;
  height: 0 !important;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 43px;
  text-align: center;
  font-size: 1.4em !important;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #2ee56b;
}

:host /deep/ ng2-smart-table thead th{
  text-align: center;
}


:host /deep/ ng2-smart-table tbody td{
  text-align: center;
}

:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-delivered i.ion-checkmark{display:none;}
:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-rejected i.ion-checkmark{display:none;}
:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-accepted i.ion-checkmark{display:none;}

:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-accepted i.ion-close{display:none;}
:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-rejected i.ion-close{display:none;}
:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-delivered i.ion-close{display:none;}

:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-rejected i.ion-paper-airplane{display:none;}
:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-delivered i.ion-paper-airplane{display:none;}

:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-rejected i.ion-minus-round{display:none;}
:host /deep/ tr.flow i.fa-user-times,:host /deep/ tr.hide-delivered i.ion-minus-round{display:none;}

:host /deep/ .ng2-smart-filter  select.form-control {
  height: auto !important;
}


:host /deep/ a:hover, :host /deep/ a:focus {
  color: #40dc7e !important;
}


:host /deep/ nb-card-header {
  color: #40dc7e !important;
}
