<nb-card>
  <nb-card-header>{{'CHANGE_PASSWORD'|translate}}</nb-card-header>
  <nb-card-body class="card-add-user">
    <div class="form-group d-flex align-items-center">
      <div class="d-flex w-100 justify-content-center">
        <form class="w-100" (ngSubmit)="changePassword()" #form="ngForm">
            <div class="d-flex">
              <div class="col-md-12 col-12">
                <div class="d-flex  pb-4">
                  <div class="col-md-3 align-self-center">
                    <label>{{'OLD_PASSWORD'|translate}}:</label>
                  </div>
                  <div class="col-md-9">
                    <div class="input-group">
                      <input type="password" name="oldPassword" #oldPassword="ngModel" placeholder="{{'OLD_PASSWORD'|translate}}"
                        [(ngModel)]="changePasswordModel.oldPassword" class="align-self-center form-control" required/>
                    </div>
                  </div>
                </div>
                <div class="d-flex  pb-4">
                  <div class="col-md-3 align-self-center">
                    <label>{{'NEW_PASSWORD'|translate}}:</label>
                  </div>
                  <div class="col-md-9">
                    <div class="input-group">
                      <input type="password" name="newPassword" #newPassword="ngModel" placeholder="{{'NEW_PASSWORD'|translate}}"
                             [(ngModel)]="changePasswordModel.newPassword" class="align-self-center form-control" required/>
                    </div>
                  </div>
                </div>
                <div class="d-flex  pb-4">
                  <div class="col-md-3 align-self-center">
                    <label>{{'CONFIRM_PASSWORD'|translate}}:</label>
                  </div>
                  <div class="col-md-9">
                    <div class="input-group">
                      <input type="password" name="confirmPassword" #confirm="ngModel" placeholder="{{'CONFIRM_PASSWORD'|translate}}"
                             [(ngModel)]="confirmPassword" class="align-self-center form-control" required/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="col-md-3">
                <button nbButton fullWidth status="success" [disabled]="submitted || !form.valid"
                  [class.btn-pulse]="submitted">
                  {{'SAVE'|translate}}
                </button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
